.fancy-label {
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}
.fancy-label.visible {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 100;
  filter: alpha(opacity=10000);
}